In [10]:
import pandas as pd
import statistics as sts
import seaborn as sbn

In [4]:
dataset = pd.read_csv('tempo.csv', sep= ';')
dataset

   Aparencia  Temperatura  Umidade       Vento Jogar
0        sol           85     85.0       FALSO   nao
1        sol           80     90.0  VERDADEIRO   nao
2    nublado           83     86.0       FALSO   sim
3      chuva           70      NaN       FALSO   sim
4      chuva           68     80.0       FALSO   sim
5      chuva           65     70.0  VERDADEIRO   nao
6      menos           64     65.0  VERDADEIRO   sim
7        sol         1220     95.0       FALSO   nao
8        sol           69     70.0       FALSO   sim
9      chuva           75    200.0         NaN   sim
10       sol           75     70.0  VERDADEIRO   sim
11   nublado           72     90.0  VERDADEIRO   sim
12   nublado           81     75.0       FALSO   sim
13     chuva           71     91.0  VERDADEIRO   nao

In [11]:
dataset.describe()

       Temperatura     Umidade
count    14.000000   13.000000
mean    155.571429   89.769231
std     306.433759   34.540203
min      64.000000   65.000000
25%      69.250000   70.000000
50%      73.500000   85.000000
75%      80.750000   90.000000
max    1220.000000  200.000000

In [13]:
agrupadoaparencia = dataset.groupby(['Aparencia']).size()
agrupadoaparencia

Aparencia
chuva      5
menos      1
nublado    3
sol        5
dtype: int64

In [17]:
dataset.loc[dataset['Aparencia'] == 'menos', 'Aparencia'] = 'sol'

In [21]:
dataset.groupby(['Aparencia']).size()

Aparencia
chuva      6
nublado    3
sol        5
dtype: int64

In [26]:
dataset.loc[dataset['Temperatura']]

KeyError: "None of [Index([85, 80, 83, 70, 68, 65, 'chuva', 1220, 69, 75, 75, 72, 81, 71], dtype='object')] are in the [index]"