In [3]:
import pandas as pd
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import axes3d

In [6]:
base = pd.read_csv('orchard.csv')
display(base.head())
base.shape

   decrease  rowpos  colpos treatment
0        57       1       1         D
1        95       2       1         E
2         8       3       1         B
3        69       4       1         H
4        92       5       1         G

(64, 4)

In [ ]:
#criação de gráfico 3d, indicando o atributo projection = '3d' e passando três atributos (decrease, rowpols e colpos)

figura = plt.figure()
eixo = figura.add_subplot(1,1,1, projection = '3d')
exio.scatter(base.decrease, base.rowpos, base.colpos)
eixo.set_xlabel('decrease')
eixo.set_ylabel('rowpos')